<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\PatientsDB.db" providerName="System.Data.SQLite" />
    <add name="DatabaseConnection" connectionString="Data Source=.\PatientsDB.db" providerName="Microsoft.EntityFrameworkCore.Sqlite" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Libraries" />
    </assemblyBinding>
  </runtime>
</configuration>
